<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CinePedia</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div class="container mt-5">
		<header class="d-flex justify-content-between align-items-center mb-4">
			<h1>¡Bienvenido {{ usuario.nombre }}!</h1>
			<div>
				<a href="{{ url_for('nueva_pelicula') }}" class="btn btn-primary">Nueva Peli</a>
				<a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
			</div>
		</header>

		{# Mostrar mensajes flash #} {% with messages =
		get_flashed_messages(with_categories=true) %} {% if messages %}
		<div class="flash-messages">
			{% for category, message in messages %}
			<div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show"
				role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		</div>
		{% endif %} {% endwith %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Pelicula</th>
					<th>Director</th>
					<th>Fecha de Estreno</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for pelicula in peliculas %}
				<tr>
					<td>{{ pelicula.nombre }}</td>
					<td>{{ pelicula.director }}</td>
					<td>{{ pelicula.fecha_estreno.strftime('%Y-%m-%d') }}</td>
					<td>
						<a href="{{ url_for('ver_pelicula', id=pelicula.id_pelicula) }}"
							class="btn btn-info btn-sm">Ver</a>
						{% if pelicula.id_organizador == usuario.id %}
						<a href="{{ url_for('editar_pelicula', id=pelicula.id_pelicula) }}"
							class="btn btn-warning btn-sm">Editar</a>
						<a href="{{ url_for('eliminar_pelicula', id=pelicula.id_pelicula) }}"
							class="btn btn-danger btn-sm"
							onclick="return confirm('¿Estás seguro de querer eliminar este evento?')">Borrar</a>
						{% endif %}
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5" class="text-center">
						No hay peliculas registradas
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<footer class="bg  pt-4 pb-3 mt-5">
		<div class="container text-center">
			<hr class="my-4" />
			<div class="text-center">
				<p>&copy; 2024 CinePedia. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>